<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.leno">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_leno"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_leno_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.NoteLayout" />
        <activity
            android:name=".ui.activity.ForgotPassword"
            android:label="@string/forgot_password"
            android:parentActivityName="app.leno.ui.activity.Login" />
        <activity
            android:name=".ui.activity.Register"
            android:parentActivityName="app.leno.ui.activity.Welcome" />
        <activity
            android:name=".ui.activity.Login"
            android:parentActivityName="app.leno.ui.activity.Welcome" />
        <activity android:name=".ui.activity.Welcome" />
        <activity android:name=".startApp.StateCurrentUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>